@font-face {
	font-family: Comfortaa;
	src: url("../font/Comfortaa-VariableFont_wght.ttf");
}
:root {
	--font-family: Comfortaa;
	--theme-clr: #161728;
	--white: #fff;
	--shade-of-dark: #111827;
	--primary-clr: #1c64f2;
}
*,
*::before,
*::after {
	font-family: var(--font-family);
	font-size: 15px;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.loading {
	animation: loading 1s ease infinite alternate;
	background-size: 500%;
}
@keyframes loading {
	100% {
		background-color: hsl(0, 0%, 100%);
		background-position: left;
	}
}
.tracks-wrapper {
	counter-reset: track-item;
}
.tracks-wrapper .track-item > span {
	counter-increment: track-item;
}
.tracks-wrapper .track-item > span::before {
	content: counter(track-item);
	font-size: 1.5rem;
}
